################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ReadersAndBooks/v16
/ReadersAndBooks/obj
/ReadersAndBooks/»
/»
/.vs/ReadersAndBooks/DesignTimeBuild
/ReadersAndBooks/bin/Debug/net5.0
/.vs/ReadersAndBooks/config
/.vs/VSWorkspaceState.json
/ReadersAndBooks.Tests/obj
/ReadersAndBooks.Tests/bin/Debug/net5.0
